*.db
*.lnk
builds/*
Debug/*
Release/*
*.vs
*.sln
*.sdf
*.suo
*.vcxproj*
*.dll
*.LICENSE
.DS_Store
*.xcodeproj/*
images/old/*
kyo.options
kyo.sav
kyo_gameplay.log
kyo_debug.log
Source/Windows/flickyourselfon.aps
Source/Windows/flickyourselfon.rc
Source/Windows/resource.h
