*.db
*.lnk
Debug/*
Release/*
*.vs
*.sln
*.sdf
*.suo
*.vcxproj*
*.dll
*.LICENSE
.DS_Store
*.xcodeproj/*
images/old/*
fyo.sav
fyo_gameplay.log
fyo_debug.log
Source/Windows/flickyourselfon.aps
Source/Windows/flickyourselfon.rc
Source/Windows/resource.h
